<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
</div>
<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username %><br />
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br />
  <%= f.password_field :password_confirmation %><br />
</div>
<div class="field">
  <% if f.object.user_preference %>
    <span><strong>Receive Follower Notifications?</strong></span><br />
    <%= f.fields_for :user_preference do |builder| %>
      <%= builder.label :receive_follower_notification_1, "Yes" %>
      <%= builder.radio_button :receive_follower_notification?, "1",
        checked: builder.object.receive_follower_notification %>
      <%= builder.label :receive_follower_notification_0, "No" %>
      <%= builder.radio_button :receive_follower_notification?, "0",
        checked: !builder.object.receive_follower_notification %>
    <% end %>
  <% end %>
</div>
