<table>
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      <%= render 'following_follow_users_large', users: @users %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
      <%= render 'following_follow_users_small', users: @users %>
    </td>
  </tr>
</table>
