<% provide :title, @user.name %>
<table class="profile">
  <tr>
    <td class="main">
      <%= gravatar_for @user %>
      <span class="user_header">
        <ul>
          <li class="main"><%= @user.name %></li>
          <li><%= "@#{@user.username}" %></li>
        </ul>
      </span>
      <br /><br />
      <%= render 'follow_form' if signed_in? %>
      <% if @user.microposts.any? %>
        <table class="microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.public_microposts.count %>
      <%= render 'shared/stats' %>
    </td> 
  </tr>
</table>
